<!DOCTYPE html>
<html lang="en">

{% include "layout/partials/head.twig" %}

<body>

<div id="wrapper">

    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        {% include "layout/partials/nav.twig" %}
        {% include "layout/partials/sidebar.twig" %}
    </nav>

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ title }}</h1>

                    <div id="strips" class="progress" style="height: 2px;">
                        <div class="progress-bar progress-bar-primary" style="width: 25%;"></div>
                        <div class="progress-bar progress-bar-success" style="width: 25%;"></div>
                        <div class="progress-bar progress-bar-warning" style="width: 25%;"></div>
                        <div class="progress-bar progress-bar-danger" style="width: 25%;"></div>
                    </div>

                    <div class="content">
                        {{ block("body") }}
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

{% include "layout/partials/footer.twig" %}

</body>
</html>
